<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Noticias</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css"/>
    <script src="https://kit.fontawesome.com/0847edd06c.js" crossorigin="anonymous"></script>   
</head>
<body>
    
    <header>
        <div class="center">
            <div class="logo">
                <h2><a href="/"><span style="font-weight:300;">Danki</span><b>News</b></a></h2>
            </div><!--logo-->

            <div class="form-busca">
                <form action="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Buscar" name="busca"/>
                </form>
            </div><!--form-busca-->
        </div><!--center-->
    </header>